# Node modules
node_modules/

# Compiled output
dist/
build/

# TypeScript artifacts
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db


past-estruture.bash
chek-list.txt